* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  max-width: 2400px;
}


.contenedor {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}
.title{
  margin-top: 100px;
}
.home{
text-align: center;
}

.search{
  margin-top: 100px;
}